[project]
	description = this repo created to test replication b/w gerrit and github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sai1907
[access "refs/for/refs/*"]
	read = group user/sai1907
	push = group user/sai1907
	label-Code-Review = -2..+2 group user/sai1907
	label-Verified = -1..+1 group user/sai1907
	rebase = group user/sai1907
	removeReviewer = group user/sai1907
	submit = group user/sai1907
[access "refs/heads/*"]
	read = group user/sai1907
	create = group user/sai1907
	push = +force group user/sai1907
	pushMerge = group user/sai1907
[access "refs/tags/*"]
	push = group user/sai1907
	push = +force group user/sai1907
